<div class="comic-list-item bg-white shadow-lg">
  <a href="{{ comicUrl | safe }}">
    <img src="{{ comicThumbnail }}" alt="" class="w-full">
  </a>
  {# <div class="p-4"> #}
    {# <p class="leading-normal">{{ comic.description }}</p> #}
    {# <p class="mt-4">
      <a href="{{ comicUrl }}" class="uppercase tracking-wider text-base bg-blue-600 text-blue-100 font-bold w-100 text-center block px-3 py-2 rounded hover:bg-blue-700 hover:text-white hover:shadow-none shadow-inner">
        Get To It &rarr;
      </a>
    </p> #}
  {# </div> #}
</div>
<p class="text-gray-700 text-xs text-center my-4">
  <time datetime="{{ comic.publishDate | machineDate }}">{{ comic.publishDate | readableDate }}</time>
</p>
