---
pagination:
  data: comics
  size: 1
  alias: comic
permalink: /{{ comic.slug.current }}/index.html
---

{% extends "layouts/base.njk" %}

{% block title %}{{ comic.title }}{% endblock %}

{% block meta %}
  <meta name="description" content="{{ comic.description }}">
  <meta name="author" content="{{ site.author }}">

  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ comic.title }}">
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ comic.description }}">
  <meta property="og:image" content="{{ urlTo.sanityImage(comic.poster).width(480).url() }}">
  <meta property="og:url" content="{{ site.baseUrl }}{{ urlTo.comic(comic) }}">
{% endblock %}

{% block content %}
  <artcle class="comic">
    <header class="comic-header">
      <h1 class="comic-title">{{ comic.title }}</h1>

      <p class="comic-pubdate">
        <time datetime="{{ comic.publishDate | machineDate }}">{{ comic.publishDate | readableDate }}</time>
      </p>

      {# <p class="mx-auto max-w-sm my-4 leading-normal text-lg text-center">{{ comic.description }}</p> #}
    </header>

    <div class="comic-panes">
      {% for image in comic.panes %}
        <div class="comic-pane">
          <img src="{{ urlTo.sanityImage(image).width(768).sharpen(20).url() }}" alt="{{ comic.title }} - Pane #{{ loop.index }}" loading="lazy">
        </div>
      {% endfor %}
    </div>
  </artcle>
{% endblock %}
