---
title: Critter Comics
layout: layouts/base.njk
---

<div class="comics-list flex flex-wrap -mx-2">
  {% for comic in comics %}
    <div class="w-1/2 px-2">
      {% set comicTitle = comic.title %}
      {% set comicUrl %}{{ urlTo.comic(comic.slug.current) }}{% endset %}
      {% set comicThumbnail = urlTo.sanityImage(comic.poster).width(520).sharpen(40).url() %}
      {% include "components/comic-list-item.njk" %}
    </div>
  {% endfor %}
</div>
